{
  "openapi": "3.0.1",
  "info": {
    "title": "Magic Eden API",
    "termsOfService": "https://magiceden.io/terms-of-service.pdf",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0-oas3"
  },
  "tags": [
    {
      "name": "tokens",
      "description": "Get information of a token / NFT"
    },
    {
      "name": "wallets",
      "description": "Get information of a wallet"
    },
    {
      "name": "collections",
      "description": "Get information of collections"
    },
    {
      "name": "launchpad",
      "description": "Get launchpad information"
    },
    {
      "name": "instructions",
      "description": "Get instructions for the blockchain"
    },
    {
      "name": "mmm",
      "description": "Get AMM information"
    },
    {
      "name": "marketplace",
      "description": "Get information about Magic Eden's marketplace!"
    }
  ],
  "servers": [
    {
      "url": "https://api-mainnet.magiceden.dev/v2"
    },
    {
      "url": "https://api-devnet.magiceden.dev/v2"
    }
  ],
  "components": {
    "examples": {},
    "headers": {},
    "parameters": {},
    "requestBodies": {},
    "responses": {},
    "schemas": {
      "ICreatorV2": {
        "properties": {
          "address": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "share": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "address",
          "verified",
          "share"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "IAttributeV2": {
        "properties": {
          "trait_type": {
            "type": "string"
          },
          "value": {}
        },
        "required": [
          "trait_type",
          "value"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "IPropertiesV2File": {
        "properties": {
          "uri": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "cdn": {
            "type": "boolean"
          }
        },
        "required": [
          "uri",
          "type"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Partial_ICreatorV2_": {
        "properties": {
          "address": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "share": {
            "type": "number",
            "format": "double"
          }
        },
        "type": "object",
        "description": "Make all properties in T optional"
      },
      "IPropertiesV2": {
        "properties": {
          "files": {
            "items": {
              "properties": {
                "uri": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "cdn": {
                  "type": "boolean"
                }
              },
              "required": [
                "uri",
                "type"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "type": "array"
          },
          "category": {
            "type": "string"
          },
          "creators": {
            "items": {
              "properties": {
                "address": {
                  "type": "string"
                },
                "verified": {
                  "type": "boolean"
                },
                "share": {
                  "type": "number",
                  "format": "double"
                }
              },
              "type": "object",
              "description": "Make all properties in T optional"
            },
            "type": "array"
          }
        },
        "required": [
          "files",
          "category",
          "creators"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Pick_TokenAmount.Exclude_keyofTokenAmount.rawAmount__": {
        "properties": {
          "rawAmount": {
            "type": "string"
          },
          "address": {
            "type": "string",
            "description": "The identifier of the amount."
          },
          "decimals": {
            "type": "number",
            "format": "double",
            "description": "The number of decimals in the amount."
          }
        },
        "required": [
          "rawAmount",
          "address",
          "decimals"
        ],
        "type": "object",
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "SwaggerFriendlyTokenAmount": {
        "properties": {
          "rawAmount": {
            "type": "string"
          },
          "address": {
            "type": "string",
            "description": "The identifier of the amount."
          },
          "decimals": {
            "type": "number",
            "format": "double",
            "description": "The number of decimals in the amount."
          }
        },
        "required": [
          "rawAmount",
          "address",
          "decimals"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "SwaggerFriendlyPriceInfo": {
        "properties": {
          "solPrice": {
            "properties": {
              "rawAmount": {
                "type": "string"
              },
              "address": {
                "type": "string",
                "description": "The identifier of the amount."
              },
              "decimals": {
                "type": "number",
                "format": "double",
                "description": "The number of decimals in the amount."
              }
            },
            "required": [
              "rawAmount",
              "address",
              "decimals"
            ],
            "type": "object",
            "additionalProperties": false
          },
          "splPrice": {
            "properties": {
              "rawAmount": {
                "type": "string"
              },
              "address": {
                "type": "string",
                "description": "The identifier of the amount."
              },
              "decimals": {
                "type": "number",
                "format": "double",
                "description": "The number of decimals in the amount."
              }
            },
            "required": [
              "rawAmount",
              "address",
              "decimals"
            ],
            "type": "object",
            "additionalProperties": false
          }
        },
        "required": [
          "solPrice"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "TokenStandard": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          -1
        ],
        "type": "number"
      },
      "Pick_ITokenV2.Exclude_keyofITokenV2.priceInfo__": {
        "properties": {
          "mintAddress": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "supply": {
            "type": "number",
            "format": "double"
          },
          "delegate": {
            "type": "string"
          },
          "collection": {
            "type": "string"
          },
          "collectionName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "updateAuthority": {
            "type": "string"
          },
          "primarySaleHappened": {
            "type": "boolean"
          },
          "sellerFeeBasisPoints": {
            "type": "number",
            "format": "double"
          },
          "image": {
            "type": "string"
          },
          "tokenStandard": {
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              -1
            ],
            "type": "number"
          },
          "animationUrl": {
            "type": "string"
          },
          "externalUrl": {
            "type": "string"
          },
          "attributes": {
            "items": {
              "properties": {
                "trait_type": {
                  "type": "string"
                },
                "value": {}
              },
              "required": [
                "trait_type",
                "value"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "type": "array"
          },
          "properties": {
            "properties": {
              "files": {
                "items": {
                  "properties": {
                    "uri": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "cdn": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "uri",
                    "type"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "type": "array"
              },
              "category": {
                "type": "string"
              },
              "creators": {
                "items": {
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "share": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "type": "object",
                  "description": "Make all properties in T optional"
                },
                "type": "array"
              }
            },
            "required": [
              "files",
              "category",
              "creators"
            ],
            "type": "object",
            "additionalProperties": false
          },
          "listStatus": {
            "type": "string",
            "enum": [
              "listed",
              "unlisted"
            ]
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "tokenAddress": {
            "type": "string"
          },
          "isCompressed": {
            "type": "boolean"
          }
        },
        "required": [
          "mintAddress",
          "owner",
          "supply",
          "name",
          "updateAuthority",
          "primarySaleHappened",
          "sellerFeeBasisPoints",
          "image"
        ],
        "type": "object",
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "SwaggerFriendlyITokenV2": {
        "properties": {
          "mintAddress": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "supply": {
            "type": "number",
            "format": "double"
          },
          "delegate": {
            "type": "string"
          },
          "collection": {
            "type": "string"
          },
          "collectionName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "updateAuthority": {
            "type": "string"
          },
          "primarySaleHappened": {
            "type": "boolean"
          },
          "sellerFeeBasisPoints": {
            "type": "number",
            "format": "double"
          },
          "image": {
            "type": "string"
          },
          "tokenStandard": {
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              -1
            ],
            "type": "number"
          },
          "animationUrl": {
            "type": "string"
          },
          "externalUrl": {
            "type": "string"
          },
          "attributes": {
            "items": {
              "properties": {
                "trait_type": {
                  "type": "string"
                },
                "value": {}
              },
              "required": [
                "trait_type",
                "value"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "type": "array"
          },
          "properties": {
            "properties": {
              "files": {
                "items": {
                  "properties": {
                    "uri": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "cdn": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "uri",
                    "type"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "type": "array"
              },
              "category": {
                "type": "string"
              },
              "creators": {
                "items": {
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "share": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "type": "object",
                  "description": "Make all properties in T optional"
                },
                "type": "array"
              }
            },
            "required": [
              "files",
              "category",
              "creators"
            ],
            "type": "object",
            "additionalProperties": false
          },
          "listStatus": {
            "type": "string",
            "enum": [
              "listed",
              "unlisted"
            ]
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "tokenAddress": {
            "type": "string"
          },
          "isCompressed": {
            "type": "boolean"
          },
          "priceInfo": {
            "properties": {
              "solPrice": {
                "properties": {
                  "rawAmount": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "description": "The identifier of the amount."
                  },
                  "decimals": {
                    "type": "number",
                    "format": "double",
                    "description": "The number of decimals in the amount."
                  }
                },
                "required": [
                  "rawAmount",
                  "address",
                  "decimals"
                ],
                "type": "object",
                "additionalProperties": false
              },
              "splPrice": {
                "properties": {
                  "rawAmount": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "description": "The identifier of the amount."
                  },
                  "decimals": {
                    "type": "number",
                    "format": "double",
                    "description": "The number of decimals in the amount."
                  }
                },
                "required": [
                  "rawAmount",
                  "address",
                  "decimals"
                ],
                "type": "object",
                "additionalProperties": false
              }
            },
            "required": [
              "solPrice"
            ],
            "type": "object",
            "additionalProperties": false
          }
        },
        "required": [
          "mintAddress",
          "owner",
          "supply",
          "name",
          "updateAuthority",
          "primarySaleHappened",
          "sellerFeeBasisPoints",
          "image"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ListedNftType": {
        "type": "string",
        "enum": [
          "M2",
          "MMM",
          "TENSOR_LISTING",
          "TENSOR_CNFT_LISTING",
          "TENSOR_AMM",
          "HADESWAP_AMM",
          "M3"
        ]
      },
      "IFloorPriceInfo": {
        "properties": {
          "floorPrice": {
            "type": "number",
            "format": "double"
          },
          "floorListedNftType": {
            "type": "string",
            "enum": [
              "M2",
              "MMM",
              "TENSOR_LISTING",
              "TENSOR_CNFT_LISTING",
              "TENSOR_AMM",
              "HADESWAP_AMM",
              "M3"
            ]
          }
        },
        "required": [
          "floorPrice",
          "floorListedNftType"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ICollectionV2": {
        "properties": {
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "twitter": {
            "type": "string"
          },
          "discord": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "isFlagged": {
            "type": "boolean"
          },
          "flagMessage": {
            "type": "string"
          },
          "categories": {
            "items": {
              "type": "string",
              "nullable": true
            },
            "type": "array"
          },
          "floorPrice": {
            "type": "number",
            "format": "double"
          },
          "listedCount": {
            "type": "number",
            "format": "double"
          },
          "avgPrice24hr": {
            "type": "number",
            "format": "double"
          },
          "volumeAll": {
            "type": "number",
            "format": "double"
          },
          "isBadged": {
            "type": "boolean"
          },
          "hasCNFTs": {
            "type": "boolean"
          },
          "isOcp": {
            "type": "boolean"
          },
          "splTokens": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "floorPriceWithFee": {
            "properties": {
              "floorPrice": {
                "type": "number",
                "format": "double"
              },
              "floorListedNftType": {
                "type": "string",
                "enum": [
                  "M2",
                  "MMM",
                  "TENSOR_LISTING",
                  "TENSOR_CNFT_LISTING",
                  "TENSOR_AMM",
                  "HADESWAP_AMM",
                  "M3"
                ]
              }
            },
            "required": [
              "floorPrice",
              "floorListedNftType"
            ],
            "type": "object",
            "additionalProperties": false
          }
        },
        "required": [
          "symbol",
          "name",
          "description",
          "image"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ILaunchpadCollectionV2": {
        "properties": {
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "featured": {
            "type": "boolean"
          },
          "image": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "size": {
            "type": "number",
            "format": "double"
          },
          "launchDatetime": {
            "type": "string",
            "description": "Launch date time in simplified extended ISO format"
          },
          "chainId": {
            "type": "string",
            "description": "Stringified EVM chain id, or \"solana\" for SOL launches"
          },
          "contractAddress": {
            "type": "string",
            "description": "Candy machine id on SOL, contract address for EVM"
          }
        },
        "required": [
          "symbol",
          "name",
          "description",
          "image",
          "chainId"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "MoonrankCrawl": {
        "properties": {
          "complete": {
            "type": "boolean",
            "description": "Flag for if Moonrank has fully crawled the collection. If this is false,\nthen it means the rarity values are incomplete and should not be used."
          },
          "id": {
            "type": "string"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "IXAttribute": {
        "properties": {
          "traitType": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "count": {
            "type": "number",
            "format": "double"
          },
          "rarity": {
            "type": "number",
            "format": "double"
          },
          "topBidValue": {
            "type": "number",
            "format": "double"
          },
          "floorAskPrice": {
            "type": "number",
            "format": "double"
          },
          "onSaleCount": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "traitType",
          "value"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "MeTokenRarity": {
        "properties": {
          "tokenKey": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "format": "double"
          },
          "rank": {
            "type": "number",
            "format": "double"
          },
          "totalSupply": {
            "type": "number",
            "format": "double"
          },
          "attributeWithCounts": {
            "items": {
              "properties": {
                "traitType": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "count": {
                  "type": "number",
                  "format": "double"
                },
                "rarity": {
                  "type": "number",
                  "format": "double"
                },
                "topBidValue": {
                  "type": "number",
                  "format": "double"
                },
                "floorAskPrice": {
                  "type": "number",
                  "format": "double"
                },
                "onSaleCount": {
                  "type": "number",
                  "format": "double"
                }
              },
              "required": [
                "traitType",
                "value"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "type": "array"
          }
        },
        "required": [
          "tokenKey",
          "score"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "NFTRarity": {
        "properties": {
          "howrare": {
            "properties": {
              "rank": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "rank"
            ],
            "type": "object"
          },
          "moonrank": {
            "properties": {
              "crawl": {
                "properties": {
                  "complete": {
                    "type": "boolean",
                    "description": "Flag for if Moonrank has fully crawled the collection. If this is false,\nthen it means the rarity values are incomplete and should not be used."
                  },
                  "id": {
                    "type": "string"
                  }
                },
                "type": "object",
                "additionalProperties": false
              },
              "absolute_rarity": {
                "type": "number",
                "format": "double"
              },
              "rank": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "crawl",
              "absolute_rarity",
              "rank"
            ],
            "type": "object"
          },
          "merarity": {
            "properties": {
              "tokenKey": {
                "type": "string"
              },
              "score": {
                "type": "number",
                "format": "double"
              },
              "rank": {
                "type": "number",
                "format": "double"
              },
              "totalSupply": {
                "type": "number",
                "format": "double"
              },
              "attributeWithCounts": {
                "items": {
                  "properties": {
                    "traitType": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "count": {
                      "type": "number",
                      "format": "double"
                    },
                    "rarity": {
                      "type": "number",
                      "format": "double"
                    },
                    "topBidValue": {
                      "type": "number",
                      "format": "double"
                    },
                    "floorAskPrice": {
                      "type": "number",
                      "format": "double"
                    },
                    "onSaleCount": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "required": [
                    "traitType",
                    "value"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "type": "array"
              }
            },
            "required": [
              "tokenKey",
              "score"
            ],
            "type": "object",
            "additionalProperties": false
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "IExtraPublicInfo": {
        "properties": {
          "img": {
            "type": "string"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "Pick_IListingV2.Exclude_keyofIListingV2.priceInfo-or-token__": {
        "properties": {
          "price": {
            "type": "number",
            "format": "double"
          },
          "tokenAddress": {
            "type": "string"
          },
          "pdaAddress": {
            "type": "string"
          },
          "auctionHouse": {
            "type": "string"
          },
          "tokenMint": {
            "type": "string"
          },
          "seller": {
            "type": "string"
          },
          "sellerReferral": {
            "type": "string"
          },
          "tokenSize": {
            "type": "number",
            "format": "double"
          },
          "rarity": {
            "properties": {
              "howrare": {
                "properties": {
                  "rank": {
                    "type": "number",
                    "format": "double"
                  }
                },
                "required": [
                  "rank"
                ],
                "type": "object"
              },
              "moonrank": {
                "properties": {
                  "crawl": {
                    "properties": {
                      "complete": {
                        "type": "boolean",
                        "description": "Flag for if Moonrank has fully crawled the collection. If this is false,\nthen it means the rarity values are incomplete and should not be used."
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "type": "object",
                    "additionalProperties": false
                  },
                  "absolute_rarity": {
                    "type": "number",
                    "format": "double"
                  },
                  "rank": {
                    "type": "number",
                    "format": "double"
                  }
                },
                "required": [
                  "crawl",
                  "absolute_rarity",
                  "rank"
                ],
                "type": "object"
              },
              "merarity": {
                "properties": {
                  "tokenKey": {
                    "type": "string"
                  },
                  "score": {
                    "type": "number",
                    "format": "double"
                  },
                  "rank": {
                    "type": "number",
                    "format": "double"
                  },
                  "totalSupply": {
                    "type": "number",
                    "format": "double"
                  },
                  "attributeWithCounts": {
                    "items": {
                      "properties": {
                        "traitType": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "count": {
                          "type": "number",
                          "format": "double"
                        },
                        "rarity": {
                          "type": "number",
                          "format": "double"
                        },
                        "topBidValue": {
                          "type": "number",
                          "format": "double"
                        },
                        "floorAskPrice": {
                          "type": "number",
                          "format": "double"
                        },
                        "onSaleCount": {
                          "type": "number",
                          "format": "double"
                        }
                      },
                      "required": [
                        "traitType",
                        "value"
                      ],
                      "type": "object",
                      "additionalProperties": false
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "tokenKey",
                  "score"
                ],
                "type": "object",
                "additionalProperties": false
              }
            },
            "type": "object",
            "additionalProperties": false
          },
          "extra": {
            "properties": {
              "img": {
                "type": "string"
              }
            },
            "type": "object",
            "additionalProperties": false
          },
          "expiry": {
            "type": "number",
            "format": "double"
          },
          "listingSource": {
            "type": "string",
            "enum": [
              "M2",
              "MMM",
              "TENSOR_LISTING",
              "TENSOR_CNFT_LISTING",
              "TENSOR_AMM",
              "HADESWAP_AMM",
              "M3"
            ]
          }
        },
        "required": [
          "price",
          "tokenAddress",
          "pdaAddress",
          "auctionHouse",
          "tokenMint",
          "seller",
          "tokenSize",
          "rarity",
          "expiry",
          "listingSource"
        ],
        "type": "object",
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "SwaggerFriendlyIListingV2": {
        "properties": {
          "price": {
            "type": "number",
            "format": "double"
          },
          "tokenAddress": {
            "type": "string"
          },
          "pdaAddress": {
            "type": "string"
          },
          "auctionHouse": {
            "type": "string"
          },
          "tokenMint": {
            "type": "string"
          },
          "seller": {
            "type": "string"
          },
          "sellerReferral": {
            "type": "string"
          },
          "tokenSize": {
            "type": "number",
            "format": "double"
          },
          "rarity": {
            "properties": {
              "howrare": {
                "properties": {
                  "rank": {
                    "type": "number",
                    "format": "double"
                  }
                },
                "required": [
                  "rank"
                ],
                "type": "object"
              },
              "moonrank": {
                "properties": {
                  "crawl": {
                    "properties": {
                      "complete": {
                        "type": "boolean",
                        "description": "Flag for if Moonrank has fully crawled the collection. If this is false,\nthen it means the rarity values are incomplete and should not be used."
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "type": "object",
                    "additionalProperties": false
                  },
                  "absolute_rarity": {
                    "type": "number",
                    "format": "double"
                  },
                  "rank": {
                    "type": "number",
                    "format": "double"
                  }
                },
                "required": [
                  "crawl",
                  "absolute_rarity",
                  "rank"
                ],
                "type": "object"
              },
              "merarity": {
                "properties": {
                  "tokenKey": {
                    "type": "string"
                  },
                  "score": {
                    "type": "number",
                    "format": "double"
                  },
                  "rank": {
                    "type": "number",
                    "format": "double"
                  },
                  "totalSupply": {
                    "type": "number",
                    "format": "double"
                  },
                  "attributeWithCounts": {
                    "items": {
                      "properties": {
                        "traitType": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "count": {
                          "type": "number",
                          "format": "double"
                        },
                        "rarity": {
                          "type": "number",
                          "format": "double"
                        },
                        "topBidValue": {
                          "type": "number",
                          "format": "double"
                        },
                        "floorAskPrice": {
                          "type": "number",
                          "format": "double"
                        },
                        "onSaleCount": {
                          "type": "number",
                          "format": "double"
                        }
                      },
                      "required": [
                        "traitType",
                        "value"
                      ],
                      "type": "object",
                      "additionalProperties": false
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "tokenKey",
                  "score"
                ],
                "type": "object",
                "additionalProperties": false
              }
            },
            "type": "object",
            "additionalProperties": false
          },
          "extra": {
            "properties": {
              "img": {
                "type": "string"
              }
            },
            "type": "object",
            "additionalProperties": false
          },
          "expiry": {
            "type": "number",
            "format": "double"
          },
          "listingSource": {
            "type": "string",
            "enum": [
              "M2",
              "MMM",
              "TENSOR_LISTING",
              "TENSOR_CNFT_LISTING",
              "TENSOR_AMM",
              "HADESWAP_AMM",
              "M3"
            ]
          },
          "priceInfo": {
            "properties": {
              "solPrice": {
                "properties": {
                  "rawAmount": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "description": "The identifier of the amount."
                  },
                  "decimals": {
                    "type": "number",
                    "format": "double",
                    "description": "The number of decimals in the amount."
                  }
                },
                "required": [
                  "rawAmount",
                  "address",
                  "decimals"
                ],
                "type": "object",
                "additionalProperties": false
              },
              "splPrice": {
                "properties": {
                  "rawAmount": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "description": "The identifier of the amount."
                  },
                  "decimals": {
                    "type": "number",
                    "format": "double",
                    "description": "The number of decimals in the amount."
                  }
                },
                "required": [
                  "rawAmount",
                  "address",
                  "decimals"
                ],
                "type": "object",
                "additionalProperties": false
              }
            },
            "required": [
              "solPrice"
            ],
            "type": "object",
            "additionalProperties": false
          },
          "token": {
            "properties": {
              "mintAddress": {
                "type": "string"
              },
              "owner": {
                "type": "string"
              },
              "supply": {
                "type": "number",
                "format": "double"
              },
              "delegate": {
                "type": "string"
              },
              "collection": {
                "type": "string"
              },
              "collectionName": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "updateAuthority": {
                "type": "string"
              },
              "primarySaleHappened": {
                "type": "boolean"
              },
              "sellerFeeBasisPoints": {
                "type": "number",
                "format": "double"
              },
              "image": {
                "type": "string"
              },
              "tokenStandard": {
                "enum": [
                  0,
                  1,
                  2,
                  3,
                  4,
                  5,
                  -1
                ],
                "type": "number"
              },
              "animationUrl": {
                "type": "string"
              },
              "externalUrl": {
                "type": "string"
              },
              "attributes": {
                "items": {
                  "properties": {
                    "trait_type": {
                      "type": "string"
                    },
                    "value": {}
                  },
                  "required": [
                    "trait_type",
                    "value"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "type": "array"
              },
              "properties": {
                "properties": {
                  "files": {
                    "items": {
                      "properties": {
                        "uri": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "cdn": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "uri",
                        "type"
                      ],
                      "type": "object",
                      "additionalProperties": false
                    },
                    "type": "array"
                  },
                  "category": {
                    "type": "string"
                  },
                  "creators": {
                    "items": {
                      "properties": {
                        "address": {
                          "type": "string"
                        },
                        "verified": {
                          "type": "boolean"
                        },
                        "share": {
                          "type": "number",
                          "format": "double"
                        }
                      },
                      "type": "object",
                      "description": "Make all properties in T optional"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "files",
                  "category",
                  "creators"
                ],
                "type": "object",
                "additionalProperties": false
              },
              "listStatus": {
                "type": "string",
                "enum": [
                  "listed",
                  "unlisted"
                ]
              },
              "price": {
                "type": "number",
                "format": "double"
              },
              "tokenAddress": {
                "type": "string"
              },
              "isCompressed": {
                "type": "boolean"
              },
              "priceInfo": {
                "properties": {
                  "solPrice": {
                    "properties": {
                      "rawAmount": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string",
                        "description": "The identifier of the amount."
                      },
                      "decimals": {
                        "type": "number",
                        "format": "double",
                        "description": "The number of decimals in the amount."
                      }
                    },
                    "required": [
                      "rawAmount",
                      "address",
                      "decimals"
                    ],
                    "type": "object",
                    "additionalProperties": false
                  },
                  "splPrice": {
                    "properties": {
                      "rawAmount": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string",
                        "description": "The identifier of the amount."
                      },
                      "decimals": {
                        "type": "number",
                        "format": "double",
                        "description": "The number of decimals in the amount."
                      }
                    },
                    "required": [
                      "rawAmount",
                      "address",
                      "decimals"
                    ],
                    "type": "object",
                    "additionalProperties": false
                  }
                },
                "required": [
                  "solPrice"
                ],
                "type": "object",
                "additionalProperties": false
              }
            },
            "required": [
              "mintAddress",
              "owner",
              "supply",
              "name",
              "updateAuthority",
              "primarySaleHappened",
              "sellerFeeBasisPoints",
              "image"
            ],
            "type": "object",
            "additionalProperties": false
          }
        },
        "required": [
          "price",
          "tokenAddress",
          "pdaAddress",
          "auctionHouse",
          "tokenMint",
          "seller",
          "tokenSize",
          "rarity",
          "expiry",
          "listingSource",
          "token"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "IOfferV2": {
        "properties": {
          "pdaAddress": {
            "type": "string"
          },
          "tokenMint": {
            "type": "string"
          },
          "auctionHouse": {
            "type": "string"
          },
          "buyer": {
            "type": "string"
          },
          "buyerReferral": {
            "type": "string"
          },
          "tokenSize": {
            "type": "number",
            "format": "double"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "expiry": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "pdaAddress",
          "tokenMint",
          "auctionHouse",
          "buyer",
          "tokenSize",
          "price",
          "expiry"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Pick_IActivityV2.Exclude_keyofIActivityV2.priceInfo__": {
        "properties": {
          "type": {
            "type": "string"
          },
          "collection": {
            "type": "string",
            "deprecated": true
          },
          "image": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "tokenMint": {
            "type": "string"
          },
          "seller": {
            "type": "string",
            "nullable": true
          },
          "sellerReferral": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "collectionSymbol": {
            "type": "string"
          },
          "slot": {
            "type": "number",
            "format": "double"
          },
          "blockTime": {
            "type": "number",
            "format": "double"
          },
          "buyer": {
            "type": "string",
            "nullable": true
          },
          "buyerReferral": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "price",
          "signature",
          "source",
          "slot",
          "blockTime"
        ],
        "type": "object",
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "SwaggerFriendlyIActivityV2": {
        "properties": {
          "type": {
            "type": "string"
          },
          "collection": {
            "type": "string",
            "deprecated": true
          },
          "image": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "tokenMint": {
            "type": "string"
          },
          "seller": {
            "type": "string",
            "nullable": true
          },
          "sellerReferral": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "collectionSymbol": {
            "type": "string"
          },
          "slot": {
            "type": "number",
            "format": "double"
          },
          "blockTime": {
            "type": "number",
            "format": "double"
          },
          "buyer": {
            "type": "string",
            "nullable": true
          },
          "buyerReferral": {
            "type": "string"
          },
          "priceInfo": {
            "properties": {
              "solPrice": {
                "properties": {
                  "rawAmount": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "description": "The identifier of the amount."
                  },
                  "decimals": {
                    "type": "number",
                    "format": "double",
                    "description": "The number of decimals in the amount."
                  }
                },
                "required": [
                  "rawAmount",
                  "address",
                  "decimals"
                ],
                "type": "object",
                "additionalProperties": false
              },
              "splPrice": {
                "properties": {
                  "rawAmount": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string",
                    "description": "The identifier of the amount."
                  },
                  "decimals": {
                    "type": "number",
                    "format": "double",
                    "description": "The number of decimals in the amount."
                  }
                },
                "required": [
                  "rawAmount",
                  "address",
                  "decimals"
                ],
                "type": "object",
                "additionalProperties": false
              }
            },
            "required": [
              "solPrice"
            ],
            "type": "object",
            "additionalProperties": false
          }
        },
        "required": [
          "type",
          "price",
          "signature",
          "source",
          "slot",
          "blockTime"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "IWalletOwnerInfo": {
        "properties": {
          "displayName": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "IMintV2": {
        "properties": {
          "mintAddress": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "supply": {
            "type": "number",
            "format": "double"
          },
          "collection": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "attributes": {
            "items": {
              "properties": {
                "trait_type": {
                  "type": "string"
                },
                "value": {}
              },
              "required": [
                "trait_type",
                "value"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "type": "array"
          }
        },
        "required": [
          "mintAddress",
          "supply",
          "name",
          "image",
          "attributes"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Pick_IIndividualHolderStats.Exclude_keyofIIndividualHolderStats.ownerDisplay__": {
        "properties": {
          "owner": {
            "type": "string"
          },
          "avatarMintImg": {
            "type": "string"
          },
          "tokens": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "owner",
          "tokens"
        ],
        "type": "object",
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "SwaggerFriendlyIIndividualHolderStats": {
        "properties": {
          "owner": {
            "type": "string"
          },
          "avatarMintImg": {
            "type": "string"
          },
          "tokens": {
            "type": "number",
            "format": "double"
          },
          "ownerDisplay": {
            "properties": {
              "sol": {
                "type": "string"
              }
            },
            "required": [
              "sol"
            ],
            "type": "object"
          }
        },
        "required": [
          "owner",
          "tokens"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "IHistogramBar": {
        "properties": {
          "l_val": {
            "type": "number",
            "format": "double"
          },
          "r_val": {
            "type": "number",
            "format": "double"
          },
          "hight": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "l_val",
          "hight"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "IHistogram": {
        "properties": {
          "bars": {
            "items": {
              "properties": {
                "l_val": {
                  "type": "number",
                  "format": "double"
                },
                "r_val": {
                  "type": "number",
                  "format": "double"
                },
                "hight": {
                  "type": "number",
                  "format": "double"
                }
              },
              "required": [
                "l_val",
                "hight"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "type": "array"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "Pick_ICollectionHolderStatsV2.Exclude_keyofICollectionHolderStatsV2.topHolders__": {
        "properties": {
          "symbol": {
            "type": "string"
          },
          "totalSupply": {
            "type": "number",
            "format": "double"
          },
          "uniqueHolders": {
            "type": "number",
            "format": "double"
          },
          "tokenHistogram": {
            "properties": {
              "bars": {
                "items": {
                  "properties": {
                    "l_val": {
                      "type": "number",
                      "format": "double"
                    },
                    "r_val": {
                      "type": "number",
                      "format": "double"
                    },
                    "hight": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "required": [
                    "l_val",
                    "hight"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "type": "array"
              }
            },
            "type": "object",
            "additionalProperties": false
          }
        },
        "required": [
          "symbol",
          "tokenHistogram"
        ],
        "type": "object",
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "SwaggerFriendlyICollectionHolderStatsV2": {
        "properties": {
          "symbol": {
            "type": "string"
          },
          "totalSupply": {
            "type": "number",
            "format": "double"
          },
          "uniqueHolders": {
            "type": "number",
            "format": "double"
          },
          "tokenHistogram": {
            "properties": {
              "bars": {
                "items": {
                  "properties": {
                    "l_val": {
                      "type": "number",
                      "format": "double"
                    },
                    "r_val": {
                      "type": "number",
                      "format": "double"
                    },
                    "hight": {
                      "type": "number",
                      "format": "double"
                    }
                  },
                  "required": [
                    "l_val",
                    "hight"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "type": "array"
              }
            },
            "type": "object",
            "additionalProperties": false
          },
          "topHolders": {
            "items": {
              "properties": {
                "owner": {
                  "type": "string"
                },
                "avatarMintImg": {
                  "type": "string"
                },
                "tokens": {
                  "type": "number",
                  "format": "double"
                },
                "ownerDisplay": {
                  "properties": {
                    "sol": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sol"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "owner",
                "tokens"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "type": "array"
          }
        },
        "required": [
          "symbol",
          "tokenHistogram",
          "topHolders"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "SwaggerNftAttribute": {
        "properties": {
          "traitType": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "traitType",
          "value"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "SwaggerNftAttributeSchema": {
        "items": {
          "items": {
            "properties": {
              "traitType": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "required": [
              "traitType",
              "value"
            ],
            "type": "object",
            "additionalProperties": false
          },
          "type": "array"
        },
        "type": "array"
      },
      "SwaggerCollectionSymbolMcc": {
        "properties": {
          "symbol": {
            "type": "string"
          },
          "mcc": {
            "type": "string"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "SwaggerCollectionSymbolMccSchema": {
        "items": {
          "properties": {
            "symbol": {
              "type": "string"
            },
            "mcc": {
              "type": "string"
            }
          },
          "type": "object",
          "additionalProperties": false
        },
        "type": "array"
      },
      "SwaggerMmmPoolGroupedByPrice": {
        "properties": {
          "buysideAdjustedPrice": {
            "type": "number",
            "format": "double"
          },
          "totalVolume": {
            "type": "number",
            "format": "double"
          },
          "offersQuantity": {
            "type": "number",
            "format": "double"
          },
          "diffUsersQuantity": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "buysideAdjustedPrice",
          "totalVolume",
          "offersQuantity",
          "diffUsersQuantity"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "SwaggerMmmPoolGroupedByPriceSchema": {
        "items": {
          "properties": {
            "buysideAdjustedPrice": {
              "type": "number",
              "format": "double"
            },
            "totalVolume": {
              "type": "number",
              "format": "double"
            },
            "offersQuantity": {
              "type": "number",
              "format": "double"
            },
            "diffUsersQuantity": {
              "type": "number",
              "format": "double"
            }
          },
          "required": [
            "buysideAdjustedPrice",
            "totalVolume",
            "offersQuantity",
            "diffUsersQuantity"
          ],
          "type": "object",
          "additionalProperties": false
        },
        "type": "array"
      },
      "EscrowBalance": {
        "properties": {
          "buyerEscrow": {
            "type": "string"
          },
          "balance": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "buyerEscrow",
          "balance"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "IBuffer": {
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Buffer"
            ],
            "nullable": false
          },
          "data": {
            "items": {
              "type": "number",
              "format": "double"
            },
            "type": "array"
          }
        },
        "required": [
          "type",
          "data"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Transaction": {
        "properties": {
          "tx": {
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "Buffer"
                ],
                "nullable": false
              },
              "data": {
                "items": {
                  "type": "number",
                  "format": "double"
                },
                "type": "array"
              }
            },
            "required": [
              "type",
              "data"
            ],
            "type": "object",
            "additionalProperties": false
          },
          "txSigned": {
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "Buffer"
                ],
                "nullable": false
              },
              "data": {
                "items": {
                  "type": "number",
                  "format": "double"
                },
                "type": "array"
              }
            },
            "required": [
              "type",
              "data"
            ],
            "type": "object",
            "additionalProperties": false
          }
        },
        "required": [
          "tx"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "CollectionStats": {
        "properties": {
          "symbol": {
            "type": "string"
          },
          "floorPrice": {
            "type": "number",
            "format": "double"
          },
          "listedCount": {
            "type": "number",
            "format": "double"
          },
          "avgPrice24hr": {
            "type": "number",
            "format": "double"
          },
          "volumeAll": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "symbol"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "AvailableAttribute": {
        "properties": {
          "attribute": {
            "properties": {
              "trait_type": {
                "type": "string"
              },
              "value": {}
            },
            "required": [
              "trait_type",
              "value"
            ],
            "type": "object",
            "additionalProperties": false
          },
          "count": {
            "type": "number",
            "format": "double"
          },
          "floor": {
            "type": "number",
            "format": "double"
          },
          "countByListingType": {
            "properties": {},
            "additionalProperties": {
              "type": "number",
              "format": "double"
            },
            "type": "object"
          }
        },
        "required": [
          "attribute",
          "count",
          "floor",
          "countByListingType"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "CollectionAttributesResults": {
        "properties": {
          "symbol": {
            "type": "string"
          },
          "availableAttributes": {
            "items": {
              "properties": {
                "attribute": {
                  "properties": {
                    "trait_type": {
                      "type": "string"
                    },
                    "value": {}
                  },
                  "required": [
                    "trait_type",
                    "value"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "count": {
                  "type": "number",
                  "format": "double"
                },
                "floor": {
                  "type": "number",
                  "format": "double"
                },
                "countByListingType": {
                  "properties": {},
                  "additionalProperties": {
                    "type": "number",
                    "format": "double"
                  },
                  "type": "object"
                }
              },
              "required": [
                "attribute",
                "count",
                "floor",
                "countByListingType"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "type": "array"
          }
        },
        "required": [
          "symbol",
          "availableAttributes"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "CollectionAttributes": {
        "properties": {
          "results": {
            "properties": {
              "symbol": {
                "type": "string"
              },
              "availableAttributes": {
                "items": {
                  "properties": {
                    "attribute": {
                      "properties": {
                        "trait_type": {
                          "type": "string"
                        },
                        "value": {}
                      },
                      "required": [
                        "trait_type",
                        "value"
                      ],
                      "type": "object",
                      "additionalProperties": false
                    },
                    "count": {
                      "type": "number",
                      "format": "double"
                    },
                    "floor": {
                      "type": "number",
                      "format": "double"
                    },
                    "countByListingType": {
                      "properties": {},
                      "additionalProperties": {
                        "type": "number",
                        "format": "double"
                      },
                      "type": "object"
                    }
                  },
                  "required": [
                    "attribute",
                    "count",
                    "floor",
                    "countByListingType"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "type": "array"
              }
            },
            "required": [
              "symbol",
              "availableAttributes"
            ],
            "type": "object",
            "additionalProperties": false
          }
        },
        "required": [
          "results"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "BatchListings": {
        "properties": {
          "result": {
            "items": {
              "properties": {
                "price": {
                  "type": "number",
                  "format": "double"
                },
                "tokenAddress": {
                  "type": "string"
                },
                "pdaAddress": {
                  "type": "string"
                },
                "auctionHouse": {
                  "type": "string"
                },
                "tokenMint": {
                  "type": "string"
                },
                "seller": {
                  "type": "string"
                },
                "sellerReferral": {
                  "type": "string"
                },
                "tokenSize": {
                  "type": "number",
                  "format": "double"
                },
                "rarity": {
                  "properties": {
                    "howrare": {
                      "properties": {
                        "rank": {
                          "type": "number",
                          "format": "double"
                        }
                      },
                      "required": [
                        "rank"
                      ],
                      "type": "object"
                    },
                    "moonrank": {
                      "properties": {
                        "crawl": {
                          "properties": {
                            "complete": {
                              "type": "boolean",
                              "description": "Flag for if Moonrank has fully crawled the collection. If this is false,\nthen it means the rarity values are incomplete and should not be used."
                            },
                            "id": {
                              "type": "string"
                            }
                          },
                          "type": "object",
                          "additionalProperties": false
                        },
                        "absolute_rarity": {
                          "type": "number",
                          "format": "double"
                        },
                        "rank": {
                          "type": "number",
                          "format": "double"
                        }
                      },
                      "required": [
                        "crawl",
                        "absolute_rarity",
                        "rank"
                      ],
                      "type": "object"
                    },
                    "merarity": {
                      "properties": {
                        "tokenKey": {
                          "type": "string"
                        },
                        "score": {
                          "type": "number",
                          "format": "double"
                        },
                        "rank": {
                          "type": "number",
                          "format": "double"
                        },
                        "totalSupply": {
                          "type": "number",
                          "format": "double"
                        },
                        "attributeWithCounts": {
                          "items": {
                            "properties": {
                              "traitType": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "count": {
                                "type": "number",
                                "format": "double"
                              },
                              "rarity": {
                                "type": "number",
                                "format": "double"
                              },
                              "topBidValue": {
                                "type": "number",
                                "format": "double"
                              },
                              "floorAskPrice": {
                                "type": "number",
                                "format": "double"
                              },
                              "onSaleCount": {
                                "type": "number",
                                "format": "double"
                              }
                            },
                            "required": [
                              "traitType",
                              "value"
                            ],
                            "type": "object",
                            "additionalProperties": false
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "tokenKey",
                        "score"
                      ],
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                },
                "extra": {
                  "properties": {
                    "img": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "additionalProperties": false
                },
                "expiry": {
                  "type": "number",
                  "format": "double"
                },
                "listingSource": {
                  "type": "string",
                  "enum": [
                    "M2",
                    "MMM",
                    "TENSOR_LISTING",
                    "TENSOR_CNFT_LISTING",
                    "TENSOR_AMM",
                    "HADESWAP_AMM",
                    "M3"
                  ]
                },
                "priceInfo": {
                  "properties": {
                    "solPrice": {
                      "properties": {
                        "rawAmount": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string",
                          "description": "The identifier of the amount."
                        },
                        "decimals": {
                          "type": "number",
                          "format": "double",
                          "description": "The number of decimals in the amount."
                        }
                      },
                      "required": [
                        "rawAmount",
                        "address",
                        "decimals"
                      ],
                      "type": "object",
                      "additionalProperties": false
                    },
                    "splPrice": {
                      "properties": {
                        "rawAmount": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string",
                          "description": "The identifier of the amount."
                        },
                        "decimals": {
                          "type": "number",
                          "format": "double",
                          "description": "The number of decimals in the amount."
                        }
                      },
                      "required": [
                        "rawAmount",
                        "address",
                        "decimals"
                      ],
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "solPrice"
                  ],
                  "type": "object",
                  "additionalProperties": false
                },
                "token": {
                  "properties": {
                    "mintAddress": {
                      "type": "string"
                    },
                    "owner": {
                      "type": "string"
                    },
                    "supply": {
                      "type": "number",
                      "format": "double"
                    },
                    "delegate": {
                      "type": "string"
                    },
                    "collection": {
                      "type": "string"
                    },
                    "collectionName": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "updateAuthority": {
                      "type": "string"
                    },
                    "primarySaleHappened": {
                      "type": "boolean"
                    },
                    "sellerFeeBasisPoints": {
                      "type": "number",
                      "format": "double"
                    },
                    "image": {
                      "type": "string"
                    },
                    "tokenStandard": {
                      "enum": [
                        0,
                        1,
                        2,
                        3,
                        4,
                        5,
                        -1
                      ],
                      "type": "number"
                    },
                    "animationUrl": {
                      "type": "string"
                    },
                    "externalUrl": {
                      "type": "string"
                    },
                    "attributes": {
                      "items": {
                        "properties": {
                          "trait_type": {
                            "type": "string"
                          },
                          "value": {}
                        },
                        "required": [
                          "trait_type",
                          "value"
                        ],
                        "type": "object",
                        "additionalProperties": false
                      },
                      "type": "array"
                    },
                    "properties": {
                      "properties": {
                        "files": {
                          "items": {
                            "properties": {
                              "uri": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "cdn": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "uri",
                              "type"
                            ],
                            "type": "object",
                            "additionalProperties": false
                          },
                          "type": "array"
                        },
                        "category": {
                          "type": "string"
                        },
                        "creators": {
                          "items": {
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "verified": {
                                "type": "boolean"
                              },
                              "share": {
                                "type": "number",
                                "format": "double"
                              }
                            },
                            "type": "object",
                            "description": "Make all properties in T optional"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "files",
                        "category",
                        "creators"
                      ],
                      "type": "object",
                      "additionalProperties": false
                    },
                    "listStatus": {
                      "type": "string",
                      "enum": [
                        "listed",
                        "unlisted"
                      ]
                    },
                    "price": {
                      "type": "number",
                      "format": "double"
                    },
                    "tokenAddress": {
                      "type": "string"
                    },
                    "isCompressed": {
                      "type": "boolean"
                    },
                    "priceInfo": {
                      "properties": {
                        "solPrice": {
                          "properties": {
                            "rawAmount": {
                              "type": "string"
                            },
                            "address": {
                              "type": "string",
                              "description": "The identifier of the amount."
                            },
                            "decimals": {
                              "type": "number",
                              "format": "double",
                              "description": "The number of decimals in the amount."
                            }
                          },
                          "required": [
                            "rawAmount",
                            "address",
                            "decimals"
                          ],
                          "type": "object",
                          "additionalProperties": false
                        },
                        "splPrice": {
                          "properties": {
                            "rawAmount": {
                              "type": "string"
                            },
                            "address": {
                              "type": "string",
                              "description": "The identifier of the amount."
                            },
                            "decimals": {
                              "type": "number",
                              "format": "double",
                              "description": "The number of decimals in the amount."
                            }
                          },
                          "required": [
                            "rawAmount",
                            "address",
                            "decimals"
                          ],
                          "type": "object",
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "solPrice"
                      ],
                      "type": "object",
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "mintAddress",
                    "owner",
                    "supply",
                    "name",
                    "updateAuthority",
                    "primarySaleHappened",
                    "sellerFeeBasisPoints",
                    "image"
                  ],
                  "type": "object",
                  "additionalProperties": false
                }
              },
              "required": [
                "price",
                "tokenAddress",
                "pdaAddress",
                "auctionHouse",
                "tokenMint",
                "seller",
                "tokenSize",
                "rarity",
                "expiry",
                "listingSource",
                "token"
              ],
              "type": "object",
              "additionalProperties": false
            },
            "type": "array"
          },
          "nextCursor": {
            "type": "string"
          }
        },
        "required": [
          "result",
          "nextCursor"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ListStatus": {
        "type": "string",
        "enum": [
          "listed",
          "unlisted",
          "both"
        ]
      },
      "RequestMetadata": {
        "properties": {
          "paging": {
            "type": "boolean"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "PagingMetadata": {
        "properties": {
          "total": {
            "type": "number",
            "format": "double"
          },
          "start": {
            "type": "number",
            "format": "double"
          },
          "end": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "total",
          "start",
          "end"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "ResponseMetadata": {
        "properties": {
          "paging": {
            "properties": {
              "total": {
                "type": "number",
                "format": "double"
              },
              "start": {
                "type": "number",
                "format": "double"
              },
              "end": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "total",
              "start",
              "end"
            ],
            "type": "object",
            "additionalProperties": false
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "PopularCollectionsTimeRanges": {
        "type": "string",
        "enum": [
          "1h",
          "1d",
          "7d",
          "30d"
        ]
      },
      "IXActivityLite": {
        "properties": {
          "key": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "tokenKey": {
            "type": "string"
          },
          "collectionId": {
            "type": "string"
          },
          "media": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "price": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "timestamp",
          "price"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "SortDirQuery": {
        "type": "string",
        "enum": [
          "asc",
          "desc"
        ]
      },
      "ListingSortOptions": {
        "type": "string",
        "enum": [
          "updatedAt",
          "listPrice"
        ]
      },
      "CurveKindString": {
        "type": "string",
        "enum": [
          "linear",
          "exp",
          "xyk"
        ]
      },
      "PoolTypeString": {
        "type": "string",
        "enum": [
          "buy_sided",
          "sell_sided",
          "two_sided",
          "invalid"
        ]
      },
      "ISharedEscrowInfo": {
        "properties": {
          "sharedEscrowAddress": {
            "type": "string"
          },
          "sharedEscrowCount": {
            "type": "number",
            "format": "double"
          },
          "sharedEscrowBuysidePaymentAmount": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "sharedEscrowAddress",
          "sharedEscrowCount",
          "sharedEscrowBuysidePaymentAmount"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "Pick_IMmmPoolV2.Exclude_keyofIMmmPoolV2.updatedAt__": {
        "properties": {
          "collectionName": {
            "type": "string"
          },
          "attributes": {
            "items": {
              "items": {
                "properties": {
                  "trait_type": {
                    "type": "string"
                  },
                  "value": {}
                },
                "required": [
                  "trait_type",
                  "value"
                ],
                "type": "object",
                "additionalProperties": false
              },
              "type": "array"
            },
            "type": "array"
          },
          "expiry": {
            "type": "number",
            "format": "double"
          },
          "collectionSymbol": {
            "type": "string"
          },
          "spotPrice": {
            "type": "number",
            "format": "double"
          },
          "curveType": {
            "type": "string",
            "enum": [
              "linear",
              "exp",
              "xyk"
            ]
          },
          "curveDelta": {
            "type": "number",
            "format": "double"
          },
          "reinvestFulfillBuy": {
            "type": "boolean"
          },
          "reinvestFulfillSell": {
            "type": "boolean"
          },
          "lpFeeBp": {
            "type": "number",
            "format": "double"
          },
          "buysideCreatorRoyaltyBp": {
            "type": "number",
            "format": "double"
          },
          "poolOwner": {
            "type": "string"
          },
          "sellsideAssetAmount": {
            "type": "number",
            "format": "double"
          },
          "buysidePaymentAmount": {
            "type": "number",
            "format": "double"
          },
          "buyOrdersAmount": {
            "type": "number",
            "format": "double",
            "description": "quantity of buy orders"
          },
          "poolType": {
            "description": "can be buy_sided, sell_sided, two_sided",
            "type": "string",
            "enum": [
              "buy_sided",
              "sell_sided",
              "two_sided",
              "invalid"
            ]
          },
          "uuid": {
            "type": "string"
          },
          "poolKey": {
            "type": "string"
          },
          "cosigner": {
            "type": "string"
          },
          "blockedAt": {
            "type": "string",
            "format": "date-time"
          },
          "mints": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "collectionSellerFeeBasisPoints": {
            "type": "number",
            "format": "double"
          },
          "lpFeeEarned": {
            "type": "number",
            "format": "double"
          },
          "buyPriceTaker": {
            "type": "number",
            "format": "double"
          },
          "isMIP1": {
            "type": "boolean"
          },
          "isOCP": {
            "type": "boolean"
          },
          "sharedEscrowInfo": {
            "properties": {
              "sharedEscrowAddress": {
                "type": "string"
              },
              "sharedEscrowCount": {
                "type": "number",
                "format": "double"
              },
              "sharedEscrowBuysidePaymentAmount": {
                "type": "number",
                "format": "double"
              }
            },
            "required": [
              "sharedEscrowAddress",
              "sharedEscrowCount",
              "sharedEscrowBuysidePaymentAmount"
            ],
            "type": "object",
            "additionalProperties": false
          }
        },
        "required": [
          "collectionName",
          "expiry",
          "collectionSymbol",
          "spotPrice",
          "curveType",
          "curveDelta",
          "reinvestFulfillBuy",
          "reinvestFulfillSell",
          "lpFeeBp",
          "buysideCreatorRoyaltyBp",
          "poolOwner",
          "sellsideAssetAmount",
          "buysidePaymentAmount",
          "buyOrdersAmount",
          "poolType",
          "uuid",
          "poolKey",
          "cosigner",
          "collectionSellerFeeBasisPoints",
          "lpFeeEarned"
        ],
        "type": "object",
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "Omit_IMmmPoolV2.updatedAt_": {
        "description": "Construct a type with the properties of T except for those in type K.",
        "properties": {
          "collectionName": {
            "type": "string"
          },
          "attributes": {
            "items": {
              "items": {
                "properties": {
                  "trait_type": {
                    "type": "string"
                  },
                  "value": {}
                },
                "required": [
                  "trait_type",
                  "value"
                ],
                "type": "object",
                "additionalProperties": false
              },
              "type": "array"
            },
            "type": "array"
          },
          "expiry": {
            "type": "number",
            "format": "double"
          },
          "collectionSymbol": {
            "type": "string"
          },
          "spotPrice": {
            "type": "number",
            "format": "double"
          },
          "curveType": {
            "type": "string",
            "enum": [
              "linear",
              "exp",
              "xyk"
            ]
          },
          "curveDelta": {
            "type": "number",
            "format": "double"
          },
          "reinvestFulfillBuy": {
            "type": "boolean"
          },
          "reinvestFulfillSell": {
            "type": "boolean"
          },
          "lpFeeBp": {
            "type": "number",
            "format": "double"
          },
          "buysideCreatorRoyaltyBp": {
            "type": "number",
            "format": "double"
          },
          "poolOwner": {
            "type": "string"
          },
          "sellsideAssetAmount": {
            "type": "number",
            "format": "double"
          },
          "buysidePaymentAmount": {
            "type": "number",
            "format": "double"
          },
          "buyOrdersAmount": {
            "type": "number",
            "format": "double",
            "description": "quantity of buy orders"
          },
          "poolType": {
            "description": "can be buy_sided, sell_sided, two_sided",
            "type": "string",
            "enum": [
              "buy_sided",
              "sell_sided",
              "two_sided",
              "invalid"
            ]
          },
          "uuid": {
            "type": "string"
          },
          "poolKey": {
            "type": "string"
          },
          "cosigner": {
            "type": "string"
          },
          "blockedAt": {
            "type": "string",
            "format": "date-time"
          },
          "mints": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "collectionSellerFeeBasisPoints": {
            "type": "number",
            "format": "double"
          },
          "lpFeeEarned": {
            "type": "number",
            "format": "double"
          },
          "buyPriceTaker": {
            "type": "number",
            "format": "double"
          },
          "isMIP1": {
            "type": "boolean"
          },
          "isOCP": {
            "type": "boolean"
          },
          "sharedEscrowInfo": {
            "properties": {
              "sharedEscrowAddress": {
                "type": "string"
              },
              "sharedEscrowCount": {
                "type": "number",
                "format": "double"
              },
              "sharedEscrowBuysidePaymentAmount": {
                "type": "number",
                "format": "double"
[...]
