@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/App.css */

/* src/App.css */

html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
